[submodule "Orchestrator/OrchestratorApp/src/security_baseline/tools/testssl.sh"]
	path = Orchestrator/OrchestratorApp/src/security_baseline/tools/testssl.sh
	url = https://github.com/drwetter/testssl.sh.git
[submodule "Orchestrator/OrchestratorApp/src/security_baseline/tools/CORScanner"]
	path = Orchestrator/OrchestratorApp/src/security_baseline/tools/CORScanner
	url = https://github.com/chenjj/CORScanner.git
[submodule "Orchestrator/OrchestratorApp/src/utils/tools/LinkFinder"]
	path = Orchestrator/OrchestratorApp/src/utils/tools/LinkFinder
	url = https://github.com/GerbenJavado/LinkFinder.git
