[submodule "Orchestrator/OrchestratorApp/src/security_baseline/tools/testssl.sh"]
	path = Orchestrator/OrchestratorApp/src/security_baseline/tools/testssl.sh
	url = https://github.com/drwetter/testssl.sh.git
