[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pymongo = {extras = ["srv"],version = "*"}
requests = "*"
celery = "*"
redis = "*"
slackclient = "*"
xmltodict = "*"

[requires]
python_version = "3.7"
